#map {
    height: 500px;
    width: 100%;
    border: 2px solid black;
}

#buttonContainer {
    margin: 20px 0;
    text-align: center;
}

.buttons {
    margin: 5px;
    padding: 10px 20px;
    background-color: #722e92;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons:hover {
    background-color: #2b4b85;
}
