#map {
    height: 100%;
    width: 100xp;
}

#btnContainer{
        position: absolute;
        top: 20px;
        left: 100px;
        z-index: 1000;
}
.buttons{
    background-color: rgb(47, 44, 197);
    color: black;
    height: 40px;
    width: 120px;
    font-size: 25px;
}